<!DOCTYPE html>
<html>
<head>
	<style>
body  {
  background-image: url("paper.gif");
  background-color: #cccccc;
}
</style>
<h1> About us </h1>
<h2> I chose to have a website about fashion because i really love scrolling in my instagram , seeing how people dress - what is thier styles 
so in my website you can find information about models , shops , typs of style and soon we are going to have a lot more </h2>
<img src="static/pic36.jpeg" alt="wedding style" width="350" height="333">
<img src="static/pic37.jpeg" alt="wedding style" width="350" height="333">
<img src="static/pic38.jpeg" alt="wedding style" width="350" height="333">
<img src="static/pic39.jpeg" alt="wedding style" width="350" height="333">
</head>
<body>

</body>
</html>