<!DOCTYPE html>
<html>
<head>
	
	<style>
body  {
  background-image: url("paper.gif");
  background-color: #cccccc;
}
</style>
</head>
<body>


<h2>The most famous stayles in 2022</h2>
<p>Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture. The term implies a look defined by the fashion industry as that which is trending. Everything that is considered fashion is available and popularized by the fashion system (industry and media).


<h3>here we have 4 types of style</h3>
<h4> first one : street style</h4>
<img src="static/pic3.jpeg" alt="wedding style" width="350" height="333">
<p> Street fashion is fashion that is considered to have emerged not from studios, but from the grassroots streetwear. Street fashion is generally associated with youth culture, and is most often seen in major urban centers.[1] Magazines and Newspapers like the New York Times and Elle commonly feature candid photographs of individuals wearing urban, stylish clothing</p>
Due to increased mass-production of commodities and clothing at lower prices and global reach, sustainability has become an urgent issue among politicians, brands, and consumers.</p>
<h4> second oone : classic style</h4>
<img src="static/pic5.jpeg" alt="wedding style" width="350" height="333">
<p> Classic clothing style describes a person's personality of preference towards timeless looks, simple and elegant cuts, choice of fine natural fabrics, and matching accessories such as leather shoes and handbags. Though not giving a flashiest look in the room, classic clothing choice always make a person look good.</p>

<h4> third one : casual style</h4>
<img src="static/pic6.jpeg" alt="wedding style" width="350" height="333">
<p> Casual wear (or casual attire or clothing) is a Western dress code that is relaxed, occasional, spontaneous and suited for everyday use.</p>

<h4> forth one : rock style</h4>
<img src="static/pic16.jpeg" alt="wedding style" width="350" height="333">
<p>It's a groundbreaking style, that strays further from a classic and minimal aesthetic by combining more risqué and daring pieces. Fashion powerhouses like Balmain have embraced rock chic by adding studs, sequins, and faux leather into some of their most famous pieces and collections.</p>


</body>
</html>