<!DOCTYPE html>
<html>
<head>
	<p>guys i know that a lot of you like fashion , models and colthes and i also do thats why i'm sharing with you one of my bestfriends picturs that he has posted  on his instagram</p>
	<h2>let's meet Hani</h2>


	<img src="static/pic27.jpeg" alt="fashion" width="380" height="333">
        <img src="static/pic28.jpeg" alt="fashion" width="380" height="333">
            <img src="static/pic29.jpeg" alt="fashion" width="380" height="333">
                <img src="static/pic31.jpeg" alt="fashion" width="380" height="333">
                  <img src="static/pic32.jpeg" alt="fashion" width="380" height="333">
                    <img src="static/pic33.jpeg" alt="fashion" width="380" height="333">

</head>
<body>

</body>
</html>