<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;

}
</style>
<style>
body  {
  background-image: url("pic50.jpeg");
  background-color: #cccccc;
}
</style>
	<h1> Met Gala</h1>
	<h3> The Met Gala, or Met Ball, formally called the Costume Institute Gala or the Costume Institute Benefit, is an annual fundraising gala held for the benefit of the Metropolitan Museum of Art's Costume Institute in New York City.</h3>
	<h2> Met Gala in 2022</h2>
	<img src="static/pic40.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic41.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic42.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic43.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic44.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic45.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic46.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic47.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic48.jpeg" alt="wedding style" width="350" height="333">
	<img src="static/pic49.jpeg" alt="wedding style" width="350" height="333">

</head>
<body>

</body>
</html>