<!DOCTYPE html>
<html>
<head>
	<style>
body  {
  background-image: url("paper.gif");
  background-color: #cccccc;
}
</style>



	<h1> Here you can find information about famous models in the world in 2022</h2>
	<h2> Gigi Hadid</h2>
	<img src="static/pic21.jpeg" alt="fashion" width="380" height="333">
	<p> Jelena Noura "Gigi" Hadid is an American model and television personality. In November 2014, she made her debut in the Top 50 Models ranking at Models.com. In 2016, she was named International Model of the Year by the British Fashion Council.</p>
	<h2> Kendall Nicole Jenner </h2>
	<img src="static/pic22.jpeg" alt="fashion" width="380" height="333">
	<p> Kendall Nicole Jenner is an American model, media personality, and socialite. She is a daughter of Kris Jenner and Caitlyn Jenner, and rose to fame in the reality television show Keeping Up with the Kardashians. Jenner began modelling at the age of 14.</p>

	<h2>  sabella Khairiah Hadid </h2>
	<img src="static/pic23.jpeg" alt="fashion" width="380" height="333">
	<p> sabella Khairiah Hadid is an American model. In 2016, she was voted "Model of the Year" by industry professionals for Models.com. Over the span of four years, Hadid has made twenty-seven appearances on international Vogue magazine covers.</p>
	
	<h2>  Chantelle Whitney</h2>
	<img src="static/pic24.jpeg" alt="fashion" width="380" height="333">
	<p> Chantelle Whitney Brown-Young, known professionally as Winnie Harlow, is a Canadian fashion model and public spokesperson on the skin condition vitiligo. She gained prominence in 2014 as a contestant on the 21st cycle of the U.S. television series America's Next Top Model.</p>
	
	<h2> Lucky Blue Smith</h2>
	<img src="static/pic25.jpeg" alt="fashion" width="380" height="333">
	<p> Lucky Blue Smith is an American fashion model, actor and musician. He was scouted at the age of 10 and signed to an international modeling agency by the age of 12.</p>
	
	<h2> Tyson Beckford </h2>
	<img src="static/pic26.jpeg" alt="fashion" width="380" height="333">
	<p> Tyson Beckford is an American model and actor best known as a Ralph Lauren Polo model. He was also the host of both seasons of the Bravo program Make Me a Supermodel.</p>
</head>
<body>

</body>
</html>