<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
<h2>the most famous shops in the world </h2>
<p> There all alot of shops all around the world , in this page you can find the most famous shops and some information about them </p>
<h4> first one : gucci</h4>
<img src="static/pic17.jpeg" alt="" width="350" height="333">
<p> Gucci (/ˈɡuːtʃi/, GOO-chee; Italian pronunciation: [ˈɡuttʃi]) is an Italian high-end luxury fashion house based in Florence, Italy. Its product lines include handbags, ready-to-wear, footwear, and accessories, makeup, fragrances, and home decoration. </p>


<h4> second one : Calvin Klein </h4>
<img src="static/pic18.jpeg" alt="" width="350" height="333">
<p>Calvin Klein Inc.
(/klaɪn/) is an American fashion house established in 1968. It specializes in leather, lifestyle accessories, home furnishings, perfumery, jewellery, watches and ready-to-wear. The company has substantial market share in retail and commercial lines as well as haute couture garments.</p>

<h4> third one : Prada</h4>
<img src="static/pic19.jpeg" alt="" width="350" height="333">
<p> Its products include leather goods, handbags, footwear, apparel, accessories, eyewear, and fragrances. Its brands include Miu Miu, Church's, Cas Shoe, and Pasticceria Marchesi. The company was founded by Mario Prada in 1913 and is headquartered in Milan, Italy.</p>

<h4> forth one : Zara  </h4>
<img src="static/pic20.jpeg" alt="" width="350" height="333">

<p> ZARA, is a Spanish apparel retailer based in Arteixo, A Coruña, Galicia, Spain. The company specialises in fast fashion, and their products include clothing, accessories, shoes, swimwear, beauty, and perfumes.</p>

<h4> fifth one : Pull&Bear  </h4>
<img src="static/pic211.jpeg" alt="wedding style" width="350" height="333">


<p> Pull&Bear is a Spanish clothing and accessories retailer based in Narón, Galicia founded in 1991. The retailer is distinctive for its European clothing styles. It is part of Inditex, owner of Zara and Bershka brands.</p>

<h4> last but not least : </h4>
<img src="static/pic15.jpeg" alt="wedding style" width="350" height="333">
<p>  Bershka is a clothing retailer company created in 1998 in Spain. It is part of the Spanish Inditex group. The company was created in April 1998 as a new store and 'fast-fashion' concept, aimed at a young target market. As of January 2022 has over 971 stores in 75 countries.</p>


</body>
</html>