<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body  {
  background-image: url("paper.gif");
  background-color: #cccccc;
}
</style>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    <form method="post" action="/Signin">
        <h4>
        Log in to your account
        </h4>
        <p >
        can you fill this information please 
        </p> 
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>
        <div>
            <label>Password*</label>

            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signup"><button>signup</button></a>
</body>
</html>

